<div fxFill fxLayout="column">
  <button mat-button color="primary" (click)="observableCreate()">Create / observable</button>
  <button mat-button color="primary" (click)="fromClick()">From </button>
  <button mat-button color="primary" (click)="ofClick()">Of </button>
  <button mat-button color="primary" (click)="intervalClick()">Interval</button>
  <button mat-button color="primary" (click)="timerClick()">Timer</button>
  <button mat-button color="primary" (click)="unsubscribeClick()">Unsubscribe</button>
  <button mat-button color="primary" (click)="fromEventClick()">FromEvent</button>
</div>