<app-two-way-data-binding></app-two-way-data-binding>
<!--

<section>
  <button mat-button color="primary" (click)="popUp()">Save</button>
  <button mat-button color="primary" (click)="inc()">{{buttonName}}</button>
</section>

<section>
  <button mat-button color="primary"[disabled]="!btnEnable">Button 2</button>
  <button mat-button color="warn" [disabled]="!btnEnable" (click)="disable()" >DISABLE</button>
  <mat-progress-spinner 
    color="primary" [mode]="spinnerMode" value={{i}}>
  </mat-progress-spinner>
</section>

<section>
  <mat-card>
    <mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <input #busca="ngModel" matInput placeholder="first name" [(ngModel)]="textoBusca">
        </mat-form-field>
        Name : {{textoBusca}}
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</section>



<section>
  <section class="example-section">
    <p>
      <mat-checkbox color="warn" (change)="cbChange($event)">Enable/Disable</mat-checkbox>
    </p>
    <p>
      <mat-form-field>
        <mat-select matNativeControl required [disabled]="selectDisabled" (selectionChange) = "selectCg($event)">
          <mat-option value="1">Volvo</mat-option>
          <mat-option value="2">Audi</mat-option>
          <mat-option value="3">Merceds</mat-option>
        </mat-select >
      </mat-form-field>
    </p>
  </section>
-->